@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fe59d7;
    background: -webkit-linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(13, 71, 161, 0.8)
        ),
        url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    text-align: center;
    margin: 30px 50px 20px 50px;
    color: #fafafa;
}

.user-img {
    border-radius: 150px;
    max-width: 250px;
    box-shadow: 0 0 10px 3px #22e4f0;
}

main h1 {
    font-size: 1.2rem;
    text-shadow: 2px 0 1px #ff3f1a, -2px 0 1px #00a7e0;
    margin: 0.5em 0 1.5em 0;
}

main h2 {
    text-shadow: 1px 0 1px #ff3f1a, -1px 0 1px #00a7e0;
}

main .content p {
    white-space: pre-wrap;
    margin-bottom: 2rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.link {
    height: 50px;
    width: 100%;
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.page-sec .link {
    background-color: #5E35B1;
    box-shadow: 2px 0 1px #ff3f1a, -2px 0 1px #00a7e0;
    text-shadow: 2px 0 1px #ff3f1a, -2px 0 1px #00a7e0;
}

.links-sec .link {
    background-color: #135ed4;
    box-shadow: 2px 0 1px #ff3f1a, -2px 0 1px #00a7e0;
    text-shadow: 2px 0 1px #ff3f1a, -2px 0 1px #00a7e0;
}

.affiliate-sec .link {
    background-color: #0d8b09;
    box-shadow: 2px 0 1px #ff3f1a, -2px 0 1px #00a7e0;
    text-shadow: 2px 0 1px #ff3f1a, -2px 0 1px #00a7e0;
}

a[href="#"] div.link {
    opacity: 0.7;
    cursor: default;
}

a {
    color: #22e4f0;
    font-weight: 600;
}

.links-sec a, .page-sec a, .affiliate-sec a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    body {
        padding: 20px 50px;
    }
}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    main {
        min-width: 800px;
        padding: 20px 50px;
    }
}

::selection {
    background-color: rgba(136, 14, 79, 0.5)
}



.faq {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 700px;
}
.faq + h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.faq .question:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.faq .question:nth-last-of-type(2):not(.openedQuestion) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.faq .answer.openedFaQ:nth-last-of-type(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.faq .question {
    padding: 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #404E7C;
}
.faq .question h4 {
    max-width: 550px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.faq .question h4 span {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
}
@media only screen and (max-width: 520px) {
    .faq .question h4 {
        max-width: 80%;
    }
}
.faq .question .fq_icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
}
.faq .question .fq_icon span {
    width: 100%;
    height: 4px;
    background-color: #AFC0C5;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    transition: 0.25s all;
    webkit-transition: 0.25s all;
}
.faq .question .fq_icon span:nth-child(2) {
    transform: rotate(90deg);
}
.faq .openedQuestion .fq_icon span:nth-child(2) {
    transform: rotate(0deg) !important;
}
.faq .answer {
    display: none;
    padding: 25px 15px;
    font-size: 15px;
    line-height: 22px;
    background: white;
    color: rgb(13, 71, 161);
}

.cat_one h4 span {
    background-color: #D65108;
}

.cat_two h4 span {
    background-color: #EFA00B;
}
